:root {
    --orange_300: hsl(15, 100%, 70%);
    --pink_400: hsl(348, 100%, 68%);
    --green_400: hsl(145, 58%, 55%);
    --purple_700: hsl(264, 64%, 52%);
    --yellow_300: hsl(43, 84%, 65%);
    --blue_300: hsl(195, 74%, 62%);
    --purple_600: hsl(246, 80%, 60%);
    --purple_500: hsl(237, 23%, 67%);
    --purple_blackish: hsl(244, 64%, 26%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc((1rem * 18) / 16);
    font-family: "Rubik", sans-serif;
}

body {
    background-color: #0e0733;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90vw;
    margin-inline: auto;
}

.person-card-container {
    color: white;
    margin-block-start: 1rem;
    height: 30vh;
}

.person-details {
    background-color: var(--purple_600);
    height: 20vh;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
    border-radius: 1rem;
}

.person-details div {
    width: 10rem;
}

.person-details p:first-child {
    font-family: Rubik, sans-serif;
    font-weight: 300;
    color: var(--purple_500);
}

.person-details p:last-child {
    font-family: Rubik, sans-serif;
    font-weight: 400;
}

.person-avatar {
    width: 4rem;
    height: 4rem;
    border: 0.20rem solid white;
    border-radius: 50%;
    margin-inline-start: 1rem;
}

.time-periods {
    height: 10vh;
    background-color: #180a5a;
    border-radius: 0 0 1rem 1rem ;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    top: -5%;
}

.time-period-btn {
    background-color: #180a5a;
    color: #9b8ef1;
    border: none;
    padding: 1rem;
}

.time-period-btn.selected {
    color: white;
}

.time-period-btn:hover {
    cursor: pointer;
}

section {
    border-radius: 1rem;
}

.attribution {
    color: white;
    margin-block-start: 5rem;
    width: 90%;
    margin-inline: auto;
    text-align: center;
}

.attribution a {
    color: white;
}

@media screen and (min-width: 42rem) , (orientation : landscape) {
    main {
        min-width: 53rem;
        width: 50vw;
        min-height: 50vh;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);
        margin-block-start: 10rem;
    }

    .person-card-container {
        height: calc(100% + 1.5rem);
        grid-row: 1 / span 2;
        margin: 0;
    }

    .time-periods {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 34%;
    }

    .time-period-btn {
        font-size: 0.7rem;
        padding-block: 0.5rem;
    }

    .person-details {
        height: 66% ;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .person-details div {
        display: flex;
        flex-direction: column;
        margin-block-end: 5rem;
        padding-inline-start: 1rem;
    }

    .person-details p:first-child {
        font-weight: 400;
        font-size: 0.6rem;
    }


    .person-details p:last-child {
        font-weight: 400;
        font-size: 2rem;
    }

    .category-content:hover {
        background-color: var(--purple_blackish);
        cursor: pointer;
    }

    .category-container {
        width: 100%;
        padding: 0;
        margin: 0;
    }

}