.category-container {
    color: white;
}

.heading-banner {
    border-radius: 1rem 1rem 0 0;
    position: relative;
    height: 2.8rem;
    z-index: 2;
}

.heading-banner img {
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 7%;
    z-index: 2;
}

.category-container {
    margin-block: 1rem;
}

.category-content {
    padding: 2rem;
    height: calc(100% - 2.5rem);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 3;
    position: relative;
    top: -0.6rem;
    background-color: var(--purple_blackish);
    border-radius: 1rem 1rem;
}

.category-details {
    position: relative;
    z-index: 3;
}

.category-details p:first-child {
    border-radius: 1rem 1rem 0 0;
}

.last-time {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1rem;
}

.last-time p {
    color: var(--purple_500);
}

.last-time p:first-child {
    font-size: 3rem;
    height: fit-content;
}

.last-time p:first-child:hover {
    background-color: var(--purple_700);
    border-radius: 10%;
    cursor: pointer;
}

@media screen and (min-width: 42rem) , (orientation : landscape) {
    .category-container {
        margin: 0;
        width: 100%;
    }

    .category-content {
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        position: relative;
    }

    .last-time p {
        font-size: 0.7rem;
    }

    .more-options-btn {
        font-size: 1.2rem;
        position: absolute;
        top: 2rem;
        right: 1rem;
    }

    .category-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }

    .category-details p:last-child {
        font-size: 3rem;
        font-weight: 300;
    }
}